<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Oi, {{name}}</p>

  <p>Nós recebemos uma requisição para trocar a senha da sua conta no Proffy.</p>
  <p>Se foi você, clique no link abaixo. Você será redirecionado para o formulário de recuperação de senha.</p>
  <p>
    <a href="{{link}}">Trocar de senha</a>
  </p>

  <p>Se não foi você, ignore esse e-mail.</p>
</div>